@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e7eb;
  position: relative;
  z-index: 99;
  height: 100%;
  width: 100%;
}

.flexCenter {
  @apply flex items-center justify-center;
}
.flexBtw {
  @apply flex items-center justify-between;
}
